{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container my-4">
  <div class="row justify-content-md-center">
    <div class="col-md-6">
        <h1>{% trans "Change Password llllll" %}</h1>

        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {{ form|cripsy }}
            <button type="submit" name="action">{% trans "Change Password" %}</button>
        </form>
    </div>
  </div>
</div>
{% endblock %}
