{% load crispy_forms_tags %}
<div class="form-row">
    <div class="form-group col-md-6">
        {{ form.first_name|as_crispy_field  }}
    </div>
    <div class="form-group col-md-6">
        {{ form.last_name|as_crispy_field  }}
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-8">
        {{ form.street|as_crispy_field  }}
    </div>
    <div class="form-group col-md-4">
        {{ form.street_number|as_crispy_field  }}
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-8">
        {{ form.city|as_crispy_field  }}
    </div>
    <div class="form-group col-md-4">
        {{ form.zip_code|as_crispy_field  }}
    </div>
</div>
{{ form.country|as_crispy_field  }}
{{ form.phone|as_crispy_field  }}
